/* Header */
    /* Header Background */
    .header-bg{
        background-color: #1f2937;
        width: 100%;
        padding: 20px 0;
    }
        /* Header Container */
        .header-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style-type: none;
            margin-bottom: 3%;
            /* border: saddlebrown solid; */
        }

        /* Header Contents: 'Mauricio' */
        .header-fullname{
            font-weight: bold;
            padding-left: 40px;
        }

        /* Header Contents: 'About...Connect' */
        .header-contents{
            display: flex;
            overflow-wrap: wrap;
            justify-content: right;
            padding-inline: 0px 40px;
            gap: 40px;
            
        }

    /* Information Section */
        /* Container for Information Section*/
        .info-section-container
        {
            display: flex;
            justify-content:space-evenly;
            align-items: center;
        }
        /* Text Placeholder: Left */
        .info-text{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: fit-content;
            /* border: saddlebrown solid; */
            text-align: center;
            font-weight: 900;
        }

        /* Image Placeholder */
        .image-wrapper{
            display: flex;
            image-rendering: auto;
            width: fit-content;
            border: solid black 10px; 
        }

/* Body Section */
    /* Title of Body */
    .body-title{
        text-align: center;
        font-weight: bold;
        color: black;
    }

    /* Container for Images in body */
    .row-images{
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* border: #1f2937 solid; */
    }

        .row-images.text-small{
            text-align: center;
            font-style: italic;
            text-wrap: normal;
        }

    /* Controls(x,y) Images in Body */
    img.body-images{
        width: 150px;
        height: 200px;
        object-fit: cover;
        border: #1f2937 solid;
        border-radius: 10%; /* Rounded border */
    }

/* Quote Section */
    /* Time Quote */
    .quote-bg-color{
        background-color: white;
        width: 100%;
        padding: 20px;
        margin-top: 20px;
        line-height: 1.6;
        /* border: #1f2937 solid; */
    }
    /* Flex Container */
    .quote-container{
        justify-content: center;
        display: flex;
    }
    /* Items */
    .quote{
        display: block;
        max-width: 700px;
        text-align: center;
        font-style: italic;
        font-size: 24px;
        color: #1f2937;
        /* border: #1f2937 solid; */
    }
    .author{
        font-weight: bold;
    }

/* Universal Class */
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Static Classes */
.text-large{
    font-size: 40px;
}

.text-medium{
    font-size: 24px;
}

.text-small{
    font-size: 18px;
}

.text-light{
    color: white;
}

/* Element Classes */
body{
    background-color: #4a7bc0;
    margin: 0;
}
button{
    align-self: center;
    background-color: #3882F6;
}
img{
    width: 100%;
    height: auto;
}
a {
  color: inherit;        /* Makes link same color as parent text */
  text-decoration: none; /* Removes underline */
}